[submodule "third_party/kernel_profiler"]
	path = third_party/kernel_profiler
	url = https://github.com/oliverYoung2001/kernel_profiler.git
[submodule "third_party/comm_test"]
	path = third_party/comm_test
	url = https://github.com/oliverYoung2001/comm_test.git
[submodule "third_party/UltraAttn_baseline"]
	path = third_party/UltraAttn_baseline
	url = https://github.com/oliverYoung2001/UltraAttn_baseline.git
	branch = main
[submodule "third_party/flash-attention"]
	path = third_party/flash-attention
	url = https://github.com/oliverYoung2001/flash-attention.git
	branch = v2.5.7_burst
